.width-1080{
	max-width: 1080px;
	width: 100%;
	margin: auto;
}

.header{
	padding: 10px 0;
	position: fixed;
	width: 100%;
	top: 0;
	transition: 0.4s;
	z-index: 99;
	border-bottom: 1px solid rgba(72,72,72,0.13);
}

.header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.header .logo{
	width: 180px;
	transition: 0.4s;
}

.header .menu{
	display: inline-block;
}

.header .menu ul{
	list-style: none;
}

.header .menu ul li{
	display: inline-block;
}

.header .menu ul li a{
	padding: 15px 8px;
	font-size: 14px;
	font-weight: 500;
}

.header .menu ul li a.active{
	color: #2c85a2;
}

/*Hamburger Icon*/
#nav-icon2{
	width: 25px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: #484848;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 8px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 16px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 10px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 10px;
}
/*End Hamburger Icon*/

@media (max-width: 1100px){
	.header .width-1080{
		width: 100%;
		padding: 0 40px;
	}
}

@media (max-width: 970px){
	.header {
		position: relative;
	}

	.header .container{
		display: block;
	}

	.header .width-1080{
		padding: 0;
	}

	.header .logo{
		margin: auto;
		padding-bottom: 10px;
	}

	.header .menu{
		text-align: center;
		padding-top: 10px;
		width: 100%;
	}

	.header .divide{
		border-bottom: 1px solid #e6e6e6;
	}
}

@media (max-width: 767px){
	.header .logo{
		margin: unset;
		padding-bottom: 0;
	}

	.header .width-1080{
		padding: 0 20px;
	}

	.header .divide{
		display: none;
	}

	.header .menu{
		text-align: left;
		display: none;
	}

	.header .menu ul li{
		display: block;
		border-top: 1px solid #e6e6e6;
	}

	.header .menu ul li a{
		display: block;
		padding: 10px;
	}

	#nav-icon2{
		display: block;
	}
}

/*Footer*/
footer ul{
	list-style: none;
}

footer .foot{
	padding-top: 30px;
}

footer .logo{
	display: block;
	width: 90%;
}

footer ul .col{
	width: 25%;
	padding-left: 15px;
	padding-right: 15px;
}

footer ul .col .title{
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 20px;
}

footer ul .col ul li:not(:first-child){
	margin-bottom: 8px;
}

footer .fl-footer{
	height: 59px;
	border-top: 1px solid #e6e6e6;
	margin-top: 40px;
	font-size: 12px;
	display: block;
	text-align: center;
	padding: 18px 0;
}

@media (max-width: 480px){
	footer ul.row{
		display: block;
	}
}

@media (max-width: 480px){
	footer .logo{
		width: 100%;
	}

	footer ul .col:first-child{
		width: 60%;
		margin: auto;
	}

	footer ul .col:nth-child(2),
	footer ul .col:nth-child(3){
		width: 50%;
		float: left;
		margin-top: 20px;
		padding-left: 40px;
	}

	footer ul .col .title{
		margin-bottom: 10px;
	}

	footer ul .col:last-child{
		text-align: center;
		width: 100%;
		overflow: hidden;
	}
}
/*End Footer*/

.mobile-footer{
	display: none;
}

iframe{
	max-width: 204px;
	width: 100%;
	max-height: 130px;
	height: 100%;
}

/*mobile-footer*/
@media (max-width: 768px){
	.mobile-footer{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background: #2c85a2;
		text-align: center;
		color: #fff;
		padding: 10px 20px;
		transition: 1s;
	}

	.mobile-footer a{
		color: #fff;
	}

	.mobile-footer .fa{
		transform: rotate(90deg);
	}

	footer .fl-footer{
		margin-bottom: 44px;
	}

	#stickThis.stick {
		z-index: 99;
		display: block;
	}
}

@media (max-width: 480px){
	iframe{
		max-width: 305px;
	}
}
/*End mobile-footer*/

.row{
	display: flex;
}

.justify-space-between{
	justify-content: space-between;
}

.justify-center{
	justify-content: center;
}

.align-items-center{
	align-items: center;
}

.mt-30{
	margin-top: 30px;
}

.mt-40{
	margin-top: 40px;
}

.mt-50{
	margin-top: 50px;
}