.description .image{
	margin-top: 10px;
	margin-bottom: 40px;
}

.description .image .img-1{
	width: 90%;
	margin: auto;
}

.description ul{
	margin-left: 50px;
}

.description .image-2{
	margin-top: 20px;
	margin-bottom: 20px;
}

.description .image-2 .img-2{
	width: 70%;
	margin: auto;
}

@media (max-width: 480px){

	.description .image,
	.description .image-2{
		margin-left: -20px;
		margin-right: -20px;
	}

	.description .image .img-1,
	.description .image-2 .img-2{
		width: 100%;
	}

	.description ul{
		margin-left: 20px;
	}

	.description .image{
		margin-bottom: 20px;
	}
}