/*Banner*/
.banner{
	background: url('../images/banner.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-top: 69px;
    position: relative;
}

.width-1100{
	max-width: 1100px;
	width: 100%;
	margin: auto;
	padding: 0 20px;
}

.banner .container{
	margin: auto;
	padding: 0 20px;
}

.banner .submit-form{
	background-color: rgba(10, 0, 0, 0.5);
	max-width: 400px;
	color: #fff;
	overflow: hidden;
}

.banner .submit-form .box-content{
	margin: 10px;
	padding: 30px 20px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.banner .submit-form .box-content .sf-header p{
	font-size: 30px;
	line-height: 38px;
}

.banner .submit-form .box-content .sf-header h3{
	font-size: 46px;
	font-weight: 600;
	line-height: 54px;
}

.banner .submit-form .box-content .sub-tt{
	margin-top: 20px;
}

.banner .submit-form .form-group{
	margin-top: 20px;
}

.banner .submit-form .form-group{
	margin-top: 15px;
}

.banner .submit-form .form-group input{
	height: 40px;
	outline: none;
	border: none;
	width: 100%;
	padding: 0 15px;
	font-size: 16px;
}

.banner .submit-form .form-group button{
	width: 100%;
	height: 40px;
	background-color: #ffb501;
	border: 2px solid #fff;
	text-align: center;
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}

.banner .submit-form .form-group:last-child{
	margin-top: 40px;
}

.banner .submit-form .phone{
	margin-top: 60px;
	text-align: center;
	margin-bottom: 30px;
}

.banner .submit-form .phone a{
	color: #fff;
	font-size: 30px;
}

.text-mb{
	display: none;
}

.banner .overlay{
	display: none;
}

@media (max-width: 970px){
	.banner{
		margin-top: 0;
	}
}

@media (max-width: 767px){
	.banner{
		padding: 200px 40px;
	}

	.banner .submit-form{
		display: none;
	}

	.text-mb{
		display: block;
		color: #fff;
		text-align: center;
		z-index: 999;
		position: relative;
	}

	.text-mb h2{
		font-size: 65px;
		line-height: normal;
	}

	.text-mb p{
		font-size: 30px;
		line-height: normal;
		margin-top: 30px;
	}

	.banner .overlay{
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, .36);
		z-index: 99;
		display: block;
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 480px){
	.text-mb h2{
		font-size: 45px;
		line-height: normal;
	}

	.text-mb p{
		font-size: 20px;
		line-height: normal;
	}
}
/*End Banner*/

/*intro-project*/

.intro-project{
	padding: 60px 0;
}

.intro-project .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.intro-project .box-intro{
	background-color: #2c85a2;
	color: #fff;
	max-width: 400px;
	padding: 40px;
	box-shadow: #c5c5c5 5px 5px 20px 2px;
}

.intro-project .box-intro h3{
	font-size: 22px;
	font-weight: 30px;
	text-align: center;
}

.intro-project .box-intro ul{
	padding-left: 20px;
	margin-top: 20px;
}

.intro-project .box-intro ul li{
	text-align: left;
}

.intro-project .box-intro p{
	margin-top: 30px;
}

.intro-project .box-intro p a{
	color: #06bab0;
}

.intro-project .image-location{
	max-width: 680px;
	margin-left: 23px;
	padding-right: 20px;
}

@media (max-width: 768px){
	.intro-project .container{
		display: block;
	}

	.intro-project .box-intro{
		margin: auto;
	}

	.intro-project .image-location{
		margin-top: 25px;
	}
}

@media (max-width: 480px){
	.intro-project{
		padding: 0 0 60px;
	}

	.intro-project .width-1100{
		padding: 0;
	}

	.intro-project .box-intro{
		padding: 20px;
		max-width: 100%;
	}
}

/*End intro-project*/


/*utilities*/
.utilities{
	margin-top: 40px;
	margin-bottom: 60px;
}

.utilities .container{
	margin: auto;
	text-align: center;
	padding: 0 20px;
}

.utilities .title{
	font-size: 32px;
	line-height: 40px;
}

.utilities ul{
	list-style: none;
	max-width: 768px;
	margin: auto;
	margin-top: 40px;
	overflow: hidden;
}

.utilities ul li{
	width: calc(33.33% - 14px);
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #2f83a0;
	color: #fff;
	padding: 50px 0;
}

.utilities ul li:nth-child(3n){
	margin-right: 0;
}

.utilities ul li:nth-child(2n + 1){
	opacity: .85;
}

.utilities ul li i{
	font-size: 70px;
}

@media (max-width: 768px){
	.utilities ul li{
		width: calc(50% - 10px);
	}

	.utilities ul li:nth-child(2n),
	.utilities ul li:nth-child(6n){
		margin-right: 0 !important;
	}

	.utilities ul li:nth-child(3n){
		margin-right: 20px;
	}
}

@media (max-width: 480px){
	.utilities .container{
		padding: 0;
	}

	.utilities .title{
		padding: 0 20px;
	}

	.utilities ul li{
		width: 50%;
		margin-right: 0;
		margin-bottom: 0;
		opacity: 1;
	}

	.utilities ul li:nth-child(3n){
		margin-right: 0;
	}

	.utilities ul li:nth-child(1),
	.utilities ul li:nth-child(4),
	.utilities ul li:nth-child(5){
		opacity: .85;
	}

	.utilities ul li:nth-child(2),
	.utilities ul li:nth-child(3),
	.utilities ul li:nth-child(6){
		opacity: 1;
	}
}
/*End utilities*/

/*Location*/

.location{
	background-color: #f4f4f4;
	padding: 50px 0;
}

.location .container{
	max-width: 1240px;
	margin: auto;
	padding: 0 20px;
}

.location .title{
	font-size: 32px;
	line-height: 40px;
	text-align: center;
}

.location .row div{
	width: 50%;
}

.location .row div:last-child{
	padding-left: 40px;
	text-align: justify;
}

.location .location-text .head{
	font-weight: 600;
	margin-bottom: 20px;
}

.location .location-text ul{
	margin-left: 50px;
	margin-top: 15px;
	margin-bottom: 40px;
}

@media (max-width: 768px){
	.location .row{
		display: block;
	}

	.location .row div{
		width: 100%;
	}

	.location .row div:last-child{
		padding: 0 30px;
		margin-top: 30px;
	}
}

/*End Location*/

/*News*/
.news{
	padding: 60px 0 70px;
}

.news .container{
	max-width: 1240px;
	margin: auto;
	padding: 0 20px;
}

.news .title{
	font-size: 32px;
	line-height: 40px;
	text-align: center;
}

.news ul{
	overflow: hidden;
	margin-top: 30px;
	list-style: none;
}

.news ul li{
	width: calc(33.33% - 20px);
	float: left;
	margin-right: 30px;
	background-color: #f4f4f4;
}

.news ul li:last-child{
	margin-right: 0;
}

.news ul li .descript{
	padding: 30px 25px;
	text-align: justify;
}

.news ul li .descript .times{
	text-align: center;
	margin-bottom: 25px;
}

.news ul li .descript .read-more{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media (max-width: 767px){
	.news ul li{
		width: 100%;
		float: unset;
		margin-bottom: 30px;
	}
}

@media (max-width: 480px){
	.news{
		padding: 40px 0;
	}
}
/*End News*/

/*infrastructure*/

.infrastructure{
	background: url('../images/bg-2.png');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    color: #fff;
}

.infrastructure .col-left{
	background-color: rgba(48, 137, 169, .9);
	padding: 40px 60px;
	width: 50%;
}

.infrastructure .title{
	font-size: 22px;
	line-height: 30px;
}

.infrastructure .divide{
	border-bottom: 2px solid #fff;
	border-width: 100%;
	margin-top: 20px;
	margin-bottom: 30px;
}

.infrastructure .col-right{
	background-color: rgba(39, 105, 135, .9);
	padding: 40px 60px;
	width: 50%;
}

.infrastructure p{
	text-align: justify;
	margin-left: 30px;
}

.infrastructure ul{
	margin-left: 48px;
}

@media (max-width: 768px){
	.infrastructure .row{
		display: block;
	}

	.infrastructure .col-left,
	.infrastructure .col-right{
		width: 100%;
	}
}

@media (max-width: 480px){
	.infrastructure .col-left,
	.infrastructure .col-right{
		padding: 30px;
	}
}

/*End infrastructure*/

/*regiter-project*/

.regiter-project{
	margin-top: 60px;
	margin-bottom: 60px;
}

.regiter-project .title{
	font-size: 32px;
    line-height: 40px;
	text-align: center;
}

.regiter-project .form-dk{
	margin-top: 30px;
	background: #f7f7f7;
    box-shadow: #c5c5c5 5px 5px 20px 2px;
}

.regiter-project .col-left,
.regiter-project .col-right{
	width: 50%;
	text-align: center;
}

.regiter-project .col-left .avatar{
	width: 150px;
	height: 150px;
	margin: auto;
	margin-top: 40px;
}

.regiter-project .col-left .job-title{
	margin-top: 15px;
	font-style: italic;
}

.regiter-project .col-left .hotline,
.regiter-project .col-left .phone{
	width: 50%;
	margin-top: 50px;
	margin-bottom: 40px;
	display: flex;
	align-items: center;
    justify-content: center;
}

.regiter-project .col-left{
	background: #fff;
}

.regiter-project .col-left .number{
	text-align: left;
}

.regiter-project .col-left i{
	font-size: 50px;
	margin-right: 15px;
}

.regiter-project .col-left .fa{
	transform: rotate(90deg);
}

.regiter-project .col-right{
	padding: 50px 60px;
}

.regiter-project .col-right .form-group{
	width: 100%;
	text-align: left;
	margin-top: 10px;
}

.regiter-project .col-right .form-group:first-child{
	margin-top: 0;
}

.regiter-project .col-right .form-group input{
	width: 100%;
	height: 40px;
	padding: 0 15px;
	font-size: 16px;
}

.regiter-project .col-right .form-group button{
	cursor: pointer;
	width: 100%;
	text-align: center;
	font-size: 14px;
	background: #ffb501;
	height: 40px;
	margin-top: 10px;
	font-weight: 600;
	border: none;
}

@media (max-width: 768px){
	.regiter-project .col-left i{
		font-size: 30px;
	}
}

@media (max-width: 767px){
	.regiter-project .form-dk{
		display: block !important;
	}

	.regiter-project .form-dk .col-left,
	.regiter-project .form-dk .col-right{
		width: 100%;
	}

	.regiter-project .form-dk .col-left{
		padding-top: 1px;
	}
}

@media (max-width: 480px){
	.regiter-project .col-right{
		padding: 30px;
	}
}

@media (max-width: 320px){
	.regiter-project .form-dk .col-left .row{
		display: block;
	}

	.regiter-project .col-left .hotline, .regiter-project .col-left .phone{
		width: 100%;
		justify-content: start;
		padding-left: 30px;
		margin-top: 30px;
		margin-bottom: 30px;
		margin: 0;
		padding-top: 20px;
	}

	.regiter-project .col-left .phone{
		padding-left: 40px;
		padding-bottom: 30px;
	}
}

/*End regiter-project*/

/*invest*/

.invest{
	background: url('../images/bg-invert-home.png');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.invest .col-left,
.invest .col-right{
	width: 50%;
}

.invest .col-left ul{
	list-style: none;
	overflow: hidden;
	margin-top: 40px;
}

.invest .col-left ul li{
	width: 50%;
	float: left;
	height: 233px;
	display: inline-table;
}

.invest .col-left ul li .image{
	margin: 10px;
	border: 1px solid #cccccc;
	background: #fff;
}

.invest .col-left ul li .image .box-img{
	margin: 10px;
}

.invest .col-right{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 50px;
}

.invest .col-right h4{
	font-size: 20px;
	line-height: 28px;
}

.invest .col-right .img{
	width: 200px;
    margin: auto;
    margin-top: 20px;
}

@media (max-width: 1100px){
	.invest .col-left ul li{
		height: unset;
	}
}

@media (max-width: 768px){
	.invest{
		display: none;
	}
}

/*End invest*/

/*dowload-doc*/

.dowload-doc{
	background: #2c85a2;
	color: #fff;
	padding: 25px;
}

.dowload-doc p{
	font-size: 22px;
	line-height: 30px;
}

.dowload-doc .btn-dowload{
	color: #fff;
	border: 2px solid #fff;
	border-radius: 20px;
	padding: 5px 40px;
}

@media (max-width: 768px){
	.dowload-doc{
		display: none;
	}
}

/*End dowload-doc