@import url('common.css');
@import url('all.css');


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html * {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}
input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}
*::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 4, 68, 0.3);
}
input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0;
}
input:focus, textarea:focus, keygen:focus, select:focus, button:focus {
    outline: none;
}
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}
a {
    color: #303330;
    text-decoration: none;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Tiempos';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

img, embed{
    width: 100%;
}

.header,
.header-stick{
    border-color: #e6e6e6;
    background-color: rgba(255,255,255,0.55);
    color: #484848;
    background-image: url(../images/white-pattern-bg-everde-city.jpg);
    background-repeat: repeat;
    background-position: center top;
    background-attachment: scroll;
    background-size: contain;
}