.description .col-left,
.description .col-right{
	width: 50%;
}

.description .col-left{
	padding-right: 30px;
}

.description .col-left ul{
	margin-left: 40px;
}

@media (max-width: 768px){
	.description .row{
		display: block;
	}

	.description .col-left,
	.description .col-right{
		width: 100%;
	}

	.description .col-right{
		margin-top: 20px;
	}

	.description .col-left{
		padding-right: 0;
	}
}

@media (max-width: 480px){
	.description h4{
		padding: 0 20px;
	}

	.description .image{
		margin-left: -20px;
		margin-right: -20px;
	}

	.description .divide{
		margin-left: -20px;
		margin-right: -20px;
	}

	.description .divide:after{
		width: 100%;
	}
}